@font-face {
    font-family: 'Jost';
    src: local('Jost'), local('jost'), url('@/assets/fonts/Jost-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Jost';
    src: local('Jost'), local('jost'), url('@/assets/fonts/Jost-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}