a {
    all: unset;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

li {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
